<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <script type="module" src="/src/main.ts"></script>
    <title>Vite App</title>
  </head>
  <body>
    <div id="root">
      1.<input type="text" v-model="what"><br>
      2.<input type="text" v-model="school">
      <button @click="demo">ssssclick</button>
      <!-- .prevent是事件修饰符 "show"就是表达式 是写在Vue中的methods里的函数 有了prevent就只会执行show() 不会跳转链接了-->
      <a href="http://baidu.com" @click.prevent="show($event)">eee</a>
    </div>
    <script>
      new Vue({
        el:'#root',
        data:{
          school:'22',
          what:'1'
        },
        methods:{
          demo(event){
            console.log(event.target.innerText)
          },
          show(event){
            console.log(event.target.innerText)
          }
        },
        computer:{
          dd:1
        }
      })
    </script>
  </body>
</html>
